
// スクロールによって 'inview' クラスが付く要素に対する、フェードインアニメーションの設定

// タイトル画面の要素フェードイン
.general-fadeIn {
   & .observe-obj1.inview {
      @include animation(
         $name: general-moveUp,
         $duration: 0.8s,
         $delay: 0.2s,
         $timing-function: ease-in-out,
         $fill-mode: forwards
       );
      @keyframes general-moveUp {
         0% {
           opacity: 0;
           transform: translateY(8vh);
         }
         100% {
           opacity: 1;
           transform: translateY(0);
         }
       }
   }
   & .observe-obj2.inview {
      @include animation(
         $name: general-moveUp2,
         $duration: 0.8s,
         $delay: 0.3s,
         $timing-function: ease-in-out,
         $fill-mode: forwards
       );
       @keyframes general-moveUp2 {
         0% {
           opacity: 0;
           transform: translateY(8vh);
         }
         100% {
           opacity: 0.7;
           transform: translateY(0);
         }
       }
   }
   & .observe-obj3.inview {
      @include animation(
         $name: general-moveUp,
         $duration: 0.8s,
         $delay: 0.4s,
         $timing-function: ease-in-out,
         $fill-mode: forwards
       );
   }
}


// メニュー画面のテキスト 及び トピックセクションの フェードイン
.txt-fadeIn {
   & .observe-txt.inview {
      @include animation(
         $name: txt-moveUp,
         $duration: 1s,
         $timing-function: ease-in-out,
         $fill-mode: forwards
      );
      @keyframes txt-moveUp {
         0% {
            opacity: 0;
            transform: translateY(1vh);
         }
         70% {
            opacity: 0.7;
            transform: translateY(-0.2vh);
         }
         100% {
            opacity: 1;
            transform: translateY(0);
         }
      }
      @for $i from 1 through 6 {
         &:nth-child(#{$i}) {
               animation-delay: $i * 0.2s;
         }
      }
   }
}
// （現在のレベル）グラフバーのラベル
.label-fadeIn {
   & .observe-label.inview {
      @include animation(
         $name: label-moveUp,
         $duration: 0.6s,
         $delay: 0.8s,
         $timing-function: ease-in-out,
         $fill-mode: forwards
      );
      @keyframes label-moveUp {
         0% {
            opacity: 0;
            transform: translateY(6vh);
         }
         100% {
            opacity: 1;
            transform: translateY(5vh);
         }
      }
   }
}

// 検索フォームの フェードイン
.form-fadeIn {
   & .observe-form.inview {
      @include animation(
         $name: form-moveUp,
         $duration: 1s,
         $delay: 0.8s,
         $timing-function: ease-in-out,
         $fill-mode: forwards
      );
      @keyframes form-moveUp {
         0% {
            opacity: 0;
            transform: translateY(1vh);
         }
         100% {
            opacity: 1;
            transform: translateY(0);
         }
      }   
   }
}

// 要素がフェードインしてくる前は、予めすべて透明化しておく
.observe-obj1,
.observe-obj2,
.observe-obj3,
.observe-txt,
.observe-label,
.observe-form {
   opacity: 0;
}