// コンテナの最大幅
$contentMaxWidth: 1200px;

// ページで用いる配色設定
$cWhite: rgba(255, 255, 255, 0.9);
$cGray: rgba(128, 128, 128, 0.9);


// フォントサイズ
$title-font-lg: calc(2.1875rem + ((1vw - 2.8px) * 2.75));
$title-font: calc(1.125rem + ((1vw - 2.8px) * 1.75));

$font-md: calc(1.125rem + ((1vw - 2.8px) * 1.75));
$font-sm: calc(0.6875rem + ((1vw - 2.8px) * 0.875));

// ボタンサイズ（幅）
$signin-btn: calc(13.75rem + ((1vw - 2.8px) * 24.359));

//余白
$mg-top-lg: 13vh;
$mg-top: 8vh;
$mg-top-sm: 5vh;

$pd-btm-lg: 10vh;
$pd-btm: 8vh;
$pd-btm-sm: 1vh;