.main-select {
   width: 50%;
   &__title {
      padding: 10vh 0;
   }
   &__langs .lang {
      width: 20%;
      margin: 2%;
      height: 8vw;
      & > p {
         font-size: calc(1.4375rem + ((1vw - 10.24px) * 1.046));
      }
   }
}
.main-contents {
   font-size: 26px;
}
.top {
   height: 70vh; 
   &__user-img img {
      width: 170px;
   }
   &__select__area > p {
      font-size: 35px;
   }
}

.curr-level {
   height: 20vh;
   width: 30vw;
   &__title {
      & .your {
         padding-left: 2vw;
      }
      & .cefr {
         padding-right: 2vw;
      }
   }
}

.search {
   &__title {
      font-size: $font-sm;
   }
   &__wrapper {
      width: 30vw;
   }
   &__input {
      width: 70%;
   }
   &__btn {
      width: 30%;
   }
}

.contents {
   &__title {
      font-size: $font-sm;
   }
   &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
   }
   &__item {
      width: 25%;
      margin: 4vh 2vw 0 2vw;
   }
   &__label {
      &-topic {
         font-size: $font-sm;
         padding: 0 0 20px 20px;
      }
      &-cefr {
         font-size: 12px;
         padding: 0 10px 20px 0;
      }
   }
   &__btn {
      font-size: 20px;
      padding: 13px;
      bottom: -10px;
   }
   &__prev-next {
      width: 60vw;
      max-width: 950px;
      & form {
      margin: 0 2vw;
      width: 150px;
      padding: 10px;
      }
   }
}

.bottom-menu {
   display: none;
   &PC {
      display: block;
   }
}

.lesson {
   &__title {
      font-size: $font-sm;
   }
   &__items{
      &__wrapper {
         width: 100%;
         margin-bottom: 5vh;
      }
      &__item {
         width: 170px;
         height: 170px;
         margin: 20px;
      }
      &__label {
         &-top {
            font-size: 35px;
            padding: 10px 0;
         }
         &-under {
            font-size: 20px;
         }
      }
   }
   &__rec {
      &__txt {
         font-size: $font-sm;
      }
      &__btn {
      width: 80px;
      height:80px;
         &-arrow {
            font-size: 40px;
            line-height: 80px;
         }
      }
   }
}

.speak {
   &__back {
      &-arrow {
         padding: 3vh;
      }
   }
   &__img {
      width: 60%;
      height: 40vh;
      margin-bottom: 3vh;
   }
   &__rec, 
   &__now-recording,
   &__stop,
   &__answer {
      &__btn {
         width: 120px;
         height: 120px;
         &-circle {
            width: 120px;
            height: 120px;
         }
         &-mic {
            font-size: 50px;
            line-height: 120px;
         }
      }
      &__native,
      &__user {
         width: 400px;
         &-icon {
            width: 100px;
            height: 100px;
         }
      }
   }
}