.main-select {
   width: 50%;
   &__title {
      padding: 10vh 0;
   }
   &__langs .lang {
      width: 20%;
      margin: 2%;
      height: 8vw;
      & > p {
         font-size: calc(1.4375rem + ((1vw - 10.24px) * 1.046));
      }
   }
}

.top {
   height: 59vh; 
   &__user-img img {
      width: 8vw;
   }
}

.curr-level {
   height: 18vh;
   width: 30vw;
}

.search {
   &__wrapper {
      width: 30vw;
   }
   &__input {
      width: 70%;
   }
   &__btn {
      width: 30%;
   }
}