// 最大値の設定
$title-font-lg: 57px;
$title-font: 32px;
$font-sm: 18px;
$btnLabel: 33px;
$signin-btn: 315px;

.title {
   &__logo {
      font-size: $title-font-lg;
   }
   &__trial {
      font-size: $title-font;
      padding-bottom: 20vh;
   }
   &__login {
      &__btn {
         font-size: $font-sm;
         height: 55px;
         width: $signin-btn;
         & > span {
            line-height: 37px;
         }
      }
   }
}

.main-select {
   width: 80%;
   &__langs .lang {
      width: 42%;
      margin: 4%;
      height: 34vw;
   }
}

.top {
   height: 59vh; 
   &__user-img img {
      width: 140px;
   }
   &__select__area > p {
      font-size: 25px;
   }
}

.curr-level {
   height: 18vh;
   width: 60vw;
}

.search {
   &__wrapper {
      width: 60vw;
   }
   &__input {
      width: 70%;
   }
   &__btn {
      width: 30%;
   }
}

.contents {
   &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
   }
   &__item {
      width: 45%;
      margin: 5vh 2vw 0 2vw;
   }
   &__prev-next form {
      width: 20%;
      padding: 10px;
   }
}

.lesson {
   &__title {
      font-size: $font-smr;
   }
   &__items{
      &__wrapper {
         width: 80%;
      }
      &__item {
         width: 27vw;
         height: 27vw;
      }
      &__label {
         &-top {
            font-size: 35px;
            padding: 10px 0;
         }
         &-under {
            font-size: 20px;
         }
      }
   }
   &__rec__btn {
      width: 12vw;
      height: 12vw;
      &-arrow {
         font-size: 7vw;
         line-height: 12vw;
      }
   }
}

.speak {
   &__img {
      width: 70%;
   }
   &__rec, 
   &__now-recording {
      &__txt {
         font-size: $font-md;
      }
      &__btn {
         width: 16vw;
         height: 16vw;
         &-circle {
            width: 16vw;
            height: 16vw;
         }
         &-mic {
            font-size: 7vw;
            line-height: 16vw;
         }
      }
   }
}