@import "../modules/variables";  // 配色など設定変数
@import "../modules/mixin";
@import "../modules/page-links";
@import "../modules/base-fadeIn";
@import "../modules/chart-act";
@import "../modules/hover-act";

//  全てのフェードインの対象の監視を起動
body {
    @extend .general-fadeIn;
    @extend .bar-expansion;
    @extend .txt-fadeIn;
    @extend .label-fadeIn;
    @extend .form-fadeIn;
    @extend .icon-fadeIn;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 // タイトル画面のスタイル*******************************
#title{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 50;
    background-image: url("../pics/title.jpg");
    background-size: cover;
    background-position: center;
}

.title {
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: 100%;
        width: 80%;
        max-width: 700px;
        text-align: center;
    }
    &__logo {
        margin-top: $mg-top-lg;
        padding-bottom: $pd-btm-lg;
        color: $cWhite;
        text-align: center;
        font-size: $title-font-lg;
        & > p {
            margin-top: $mg-top-sm;
        }
    }

    &__trial {
        font-weight: 600;
        color: $cWhite;
        font-size: $title-font;
        opacity: 0.3;
        padding-bottom: $pd-btm-lg;
        & > p {
            padding-bottom: $pd-btm-sm;
        }
        & > img {
            @extend .btn-act;
        }
    }

    &__login {
        &__btn {
            padding: 10px 20px;
            width: $signin-btn;
            background-color: #fff;
            text-align: left;
            font-size: $font-sm;
            margin: 0 auto;
            margin-bottom: 4vh;
            border-radius: 30px;
            @extend .btn-act;
            & > span {
                line-height: 20px;
                vertical-align: middle;
                padding-left: 10px;
                color: $cGray;
            }
        }
    }

    &__icon{
        width: 10vh;
        max-width: 100px;
        &-mini {
            max-width: 20px;
            vertical-align: middle;
        }
    }
}

 // 学習言語の選択画面のスタイル***************************
 #main {
     width: 100%;
 }
.main-select {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    &__back {
        padding: 8vh 0;
        
        &:hover {
            & > img {
                transform: scale(1.8);
                cursor: pointer;
            }
        }
        & > img {
            transition: all 0.2s ease;
            display: block;
            width: 2vh;
        }
    }
    &__title {
        padding-bottom: $pd-btm;
        & > p {
            font-size: $title-font;
            font-weight: 600;
            text-align: center;
        }
    }
    &__langs {
        height: auto;
        display: flex;
        flex: auto; 
        flex-wrap: wrap; 

        & .lang {
            position: relative;
            width: 44%;
            margin: 3%;
            height: 40vw;
            overflow: hidden;
            &:hover {
                .lang__pic::after {
                    opacity: 0.4;
                }
                @extend .btn-act;
            }
            &__pic {
                width: 100%;
                height: 100%;
                border-radius: 20%;
                position: relative;
                overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $cCover;
                }
            }
            &__img {
                border-radius: 20%;
                position: absolute;
                z-index: 5;
                height: 100%;
                width: 100%;
                object-fit: cover;
                
            }
            & > p {
                position: absolute;
                color: $cWhite;
                font-size: $btnLabel;
                font-weight: 600;
                width: 100%;
                text-align: center;
                z-index: 20;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}

 // メインメニュー画面のスタイル***************************
 .main-contents {
     background-color: $cGrayBg;
     height: 100%;
     font-size: $font-smr;
 }
 // TOPエリア
 .top {
     height: 55vh;
     color: $cWhite;
     background-image: url("../pics/title.jpg");
     background-size: cover;
     background-position: 50% 0%;

     &__select {
         padding: 4vh 10vw 0 0;
         text-align: right;
         &__area {
             margin-left: auto;
             width: 15vw;
             padding: 5px;
             @extend .btn-act;
            & > p {
                font-size: 15px;
                padding-bottom: $pd-btm-sm;
            }
         }
         
     }
     &__user {
         text-align: center;
        &-img {
            & > img {
                width: 80px;
            }
        }
        &-name {
            padding: 3vh;
            font-size: $font-md;
        }
        &-follows {
            & span {
                padding: 1vh 3vw;
            }
        }
     }
 }

 // レベル表示バー
 .curr-level {
     font-weight: 600;
     height: 20vh;
     width: 80vw;
     padding: 2vh 0;
     transform: translateY(-10vh);
     background-color:white;
     border: 1px solid $cTheme; 
     border-radius: 15px;
     margin: 0 auto;
     &__title {
        //  background-color:white; 
         display: flex;
         width: 90%;
         margin: 0 auto;   
         & .your {
            padding: 1.5vh 0;
            padding-left: 7vw;
            text-align: left;
            color: $cBlack;
            width: 60%; 
         }
         & .cefr {
            padding: 1.5vh 0;
            padding-right: 7vw;
            text-align: right;
            color: $cTheme;
            width: 40%; 
         }
     }
     &__bar{
        padding: 1.5vh 0;
         &-entire{
             position: relative;
             background-color: white;
             border: 1px solid $cTheme;
             width: 85%;
             margin: 0 auto;  
         }
         &-your{
             position: absolute;
             z-index: 10;
             top: 0;
             bottom: 0;
             left: 0;
             background-color: $cTheme;
             width: 10%;
             transform: scaleX(0);
             transform-origin: left;
         }
         &-label {
            color: $cTheme;
            padding-left: 3vw;
         }
     }
 }

 // トピック検索フォーム
 .search {
     margin-top: -3vh;
     &__wrapper {
         width: 80%;
         margin: 0 auto;
         font-weight: 600;
     }
     &__title {
         font-size: $font-md;    
         padding-bottom: 2vh;
     }
     &__form {
         height: auto;
         padding: 2vh;
         background-color: white;
         border-radius: 20px;
     }
     &__input {
         display: block;
         height: 30px;
         width: 80%;
         margin: 2vh auto;
         border: 2px solid $cTheme;
     }
     &__btn {
        display: block;
        width: 50%;
        background-color: $cTheme;
        color: $cWhite;
        text-align: center;
        padding: 2vh;
        margin: 0 auto;
        border-radius: 20px;
        @extend .btn-hover;
     }
 }

 //コンテンツエリア
 .contents {
    font-weight: 600;
    font-size: $font-sm;
    margin-top: 8vh;
    padding-bottom: 50px;
     &__title {
         font-size: $font-md;
         width: 80%;
         max-width: 1025px;
         margin: 0 auto;
     }
     &__wrapper {
         max-width: 1025px;
         height: auto;
         width: 85%;       
         margin: 0 auto;
         display: flex;
         flex: auto;
         flex-direction: column;  
     }
     &__item {
        background-color:white;
        width: 100%;
        border-radius: 20px;
        margin-top: 5vh;
    }
     &__label {
         display: flex;
         align-items: flex-end;
         padding-top: 3vh;
        &-topic {
            font-size: $title-font;
            width: 60%;
            text-align: left;
            padding: 0 0 2vh 6vw;
        }
        &-cefr {
            color: $cTheme;
            line-height: $font-sm;
            width: 40%;       
            bottom: 0;
            padding: 0 5vw 2vh 0;
        }
     }

     &__img {
         position: relative;    
         & > img {
             border-radius: 0 0 20px 20px ;
             width: 100%;
         }
     }
     &__btn {
        position: absolute;
        background-color: $cTheme;
        @extend .btn-hover;
        color: $cWhite;
        padding: 2vh;
        width: 50%;
        border-radius: 20px;
        text-align: center;
        bottom: 5%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
     }
     &__prev-next {
         margin: 4vh auto;
         width: 80%;
         color: $cWhite;
         font-weight: 600;
         font-size: 1rem;
         text-align: center;
         display: flex;
         flex-direction : row-reverse;
         justify-content: space-between; 
         & form {
             width: 30%;
             background-color: $cTheme;
             @extend .btn-hover;
             padding: 7px;
             border-radius: 20px;
         }
         & > .prev {
             display: none;           
         }

     }
 }

// ボトムメニュー(モバイル)
.bottom-menu__wrapper {
    transform: translateY(100%);
    transition: transform 0.3s;
}
.appear .bottom-menu {  
    &__wrapper {
        transform: translateY(0);
        transition: transform 0.3s;
        position: fixed;
        bottom: 0;
        z-index: 100;
        width: 100%;
    }
    &__items {
        width: 100%;
        display: flex;
        flex: auto; 
        flex-direction: row;
    }
    &__item {
        display: block;
        width: 20%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: $cWhite;
        font-size: $title-font;
        border: 1px solid $cSubBtn;
        background-color: $cTheme;
        @extend .btn-hover;
    }
}

// ボトムメニュー(PCサイズ)
.bottom-menuPC {
    display: none;
    &__wrapper {
        width: 40%;
        max-width: 500px;
        margin:0 auto;
        padding-bottom: 50px;
    }
    &__items {
        width: 100%;
        display: flex;
        flex: auto; 
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 70px;
        text-align: center;
        line-height: 70px;
        font-size: 30px;
        color: $cWhite;
        background-color: $cTheme;
        @extend .btn-hover;
    }
}