@import "../modules/variables";
@import "../modules/mixin";
@import "../modules/base-fadeIn";
@import "../modules/hover-act";

//  全てのフェードインの対象の監視を起動
body {
    @extend .general-fadeIn;
 }

 // タイトル画面のスタイル*******************************
#title{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../pics/title.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.title {
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: 100%;
        width: 80%;
        max-width: 700px;
        text-align: center;
    }
    &__logo {
        margin-top: $mg-top-lg;
        padding-bottom: $pd-btm-lg;
        color: $cWhite;
        text-align: center;
        font-size: $title-font-lg;
        & > p {
            margin-top: $mg-top-sm;
        }
    }

    &__trial {
        font-weight: 600;
        color: $cWhite;
        font-size: $title-font;
        opacity: 0.3;
        padding-bottom: $pd-btm-lg;
        & > p {
            padding-bottom: $pd-btm-sm;
        }
        & > img {
            @extend .btn-act;
        }
    }

    &__login {
        padding-bottom: $pd-btm;
        &__btn {
            padding: 10px 20px;
            width: $signin-btn;
            background-color: #fff;
            text-align: left;
            font-size: $font-sm;
            margin: 0 auto;
            margin-bottom: 4vh;
            border-radius: 30px;
            @extend .btn-act;
            & > span {
                line-height: 20px;
                vertical-align: middle;
                padding-left: 10px;
                color: $cGray;
            }
        }
    }

    &__icon{
        width: 10vh;
        max-width: 100px;
        &-mini {
            max-width: 20px;
            vertical-align: middle;
        }
    }
}

 // 学習言語の選択画面のスタイル***************************
 #main {
     width: 100%;
 }
.main-select {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    &__back {
        padding: 8vh 0;
        
        &:hover {
            @extend .btn-act;
            & > img {
                transform: rotate(90deg) scale(1.5);
            }
        }
        & > img {
            transition: all 0.2s ease;
            display: block;
            margin: 0 auto;
            transform: rotate(90deg);
            width: 2vh;
        }
    }
    &__title {
        padding-bottom: $pd-btm;
        & > p {
            font-size: $title-font;
            font-weight: 600;
            text-align: center;
        }
    }
    &__langs {
        height: auto;
        display: flex;
        flex: auto; 
        flex-wrap: wrap; 

        & .lang {
            position: relative;
            width: 44%;
            margin: 3%;
            height: 40vw;
            overflow: hidden;
            &:hover {
                .lang__pic::after {
                    opacity: 0.4;
                }
                @extend .btn-act;
            }
            &__pic {
                width: 100%;
                height: 100%;
                border-radius: 20%;
                position: relative;
                overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $cCover;
                }
            }
            &__img {
                border-radius: 20%;
                position: absolute;
                z-index: 5;
                height: 100%;
                width: 100%;
                object-fit: cover;
                
            }
            & > p {
                position: absolute;
                color: $cWhite;
                font-size: $btnLabel;
                font-weight: 600;
                width: 100%;
                text-align: center;
                z-index: 20;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}

 // メインメニュー画面のスタイル***************************
 
 // TOPエリア
 .top {
     height: 35vh;
     color: $cWhite;
     background-image: url("../pics/title.jpg");
     background-size: cover;
     background-position: 50% 0%;

     &__select {
         padding-top: 20px;
         padding-right: 20px;
         text-align: right;
         & > p {
             padding-bottom: $pd-btm-sm;
         }
     }
     &__user {
         text-align: center;
        &-img {
            & > img {
                width: 80px;
            }
        }
        &-name {
            padding: 2vh;
            font-size: $font-md;
        }
        &-follows {
            & span {
                padding: 0 2vw;
            }
        }
     }
 }

 // レベル表示バー
 .curr-level {
     font-weight: 600;
     height: 110px;
     width: 80%;
     transform: translateY(-50px);
     background-color:white;
     border: 1px solid rgb(51, 162, 170); 
     border-radius: 15px;
     margin: 0 auto;
     &__title {
        //  background-color:white; 
         display: flex;
         width: 90%;
         margin: 0 auto;   
         & .your {
            padding: 10px 0px;
            text-align: left;
            color: $cBlack;
            width: 60%; 
         }
         & .cefr {
            padding: 10px 0px;
            text-align: right;
            color: green;
            width: 40%; 
         }
     }
     &__bar{
        padding: 10px 0;
         &-entire{
             position: relative;
             background-color: white;
             border: 1px solid rgb(34, 107, 112);
             width: 90%;
             margin: 0 auto;  
         }
         &-your{
             position: absolute;
             z-index: 10;
             top: 0;
             bottom: 0;
             left: 0;
             background-color:green;
             width: 10%;
         }
         &-label {
             transform: translateY(30px);

            // position: absolute;
            // z-index: 20;
            // top: 0;
            // bottom: 0;
            // left: 0;
            // width: 10%;
         }
     }
 }